body {
  background-color: white;
  font-family: "Playfair Display", serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  background-color: #c2c2c2;
}

.css-1t29gy6-MuiToolbar-root {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .css-1t29gy6-MuiToolbar-root {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
    .css-191lty2 {
      display: block !important;
    }
  }
